{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Connexion{% endblock %}

{% block body %}
    <div class="login-container">
        <form method="post">
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté-e-s en tant que "{{ app.user.userIdentifier }}", cliquez <a href="{{ path('app_logout') }}">ici </a> pour vous déconnecter
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal neon-text">Connexion</h1>

            <div class="form-group">
                <label for="inputPseudoOrEmail" class="form-label neon-text">Pseudo ou Email : </label>
                <input type="text" value="{{ last_username }}" name="_username" id="inputPseudoOrEmail" class="form-control neon-input" autocomplete="email" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="form-label neon-text">Mot de passe : </label>
                <input type="password" name="_password" id="inputPassword" class="form-control neon-input" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <div class="alert alert-danger neon-alert">Identifiant(s) incorrect(s)</div>
            {% endif %}

            <div class="checkbox mb-3">
                <label class ="neonLabel">
                    <input type="checkbox" name="_remember_me" class="neon-checkbox"> Se souvenir de moi
                </label>
            </div>

            <button class="btn neon-button neonLabel" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
