{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    {%  if registrationForm.vars.value.id is same as (null) %}
        Créér un profil
    {% else  %}
        Modifier un profil
    {% endif %}

{% endblock %}

{% block body %}
    {%  if registrationForm.vars.value.id is same as (null) %}
        <h1>Créér un profil</h1>
    {% else  %}
        <h1>Modifier un profil</h1>
    {% endif %}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {{ form_errors(registrationForm) }}
        <button type="submit" class="btn">
            {{ registrationForm.vars.value.id is same as (null) ? 'Créér':'Modifier'}} un profil
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
