{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {% if registrationForm.vars.value.id is same as (null) %}
        Créér un profil
    {% else %}
        Modifier un profil
    {% endif %}
{% endblock %}

{% block body %}
    <div class="registration-container">
        {% if registrationForm.vars.value.id is same as (null) %}
            <h1>Créér un profil</h1>
        {% else %}
            <h1>Modifier un profil</h1>
        {% endif %}

        <div class="card registration-card bg-glass">
            {{ form_start(registrationForm) }}

            {% for field in registrationForm %}
                <div class="form-group">
                    {{ form_label(field, null, {'label_attr': {'class': 'form-label neon-text'}}) }}
                    {{ form_widget(field, {'attr': {'class': 'form-input neon-input'}}) }}
                    {{ form_errors(field) }}
                    {{ form_row(form._token, { 'label': false }) }}
                </div>
            {% endfor %}

            <button type="submit" class="neon-button">
                {{ registrationForm.vars.value.id is same as (null) ? 'Créér le' : 'Modifier votre' }} profil
            </button>

            {{ form_end(registrationForm) }}
        </div>


        {% if registrationForm.vars.value.id %}
                <a class="cancel-link" href="{{ path('main_home') }}" title="Accueil">Annuler la modification</a>
        {% endif %}
    </div>
{% endblock %}
