{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Liste des Sorties</h1>

    <div class="sorties-container">
        {% for sortie in sorties %}
            <div class="card">
                <h2>{{ sortie.nom }}</h2>
                <p>Le {{ sortie.dateHeureDebut | date('d-m-Y') }} à {{ sortie.dateHeureDebut | date('H:i') }}</p>
                <p>Inscription jusqu'au {{ sortie.dateLimiteInscription | date('d-m-Y') }} à {{ sortie.dateLimiteInscription | date('H:i') }}</p>
                <p>Statut : {{ sortie.etat.libelle }}</p>
                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Voir les détails</a>
            </div>
        {% else %}
            <p>Aucune sortie disponible pour le moment.</p>
        {% endfor %}
    </div>
{% endblock %}
